[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
nbformat = "*"
pathlib = "*"
jupyter-book = "<0.6.0"
GitPython = "*"
oyaml = "*"

[requires]
python_version = "3.6"
